.flag-icon-sy {
  display: inline-block;
  width: 40px;
  height: 30px;
  background-image: url('https://cdn.jsdelivr.net/gh/azizk9/fla-flag-new-syria/fa-flag-new-syria-fixed.png');
  background-size: cover;
  margin-right: 8px;
  vertical-align: middle;
  border-radius: 2px;
}
